 /* Sample styling for comments and commenting controls */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Pacifico|Source+Code+Pro');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
        #allcomments {
            width: 90%;
            margin: 1em 0 4em 1em;
            padding: 1%;
            border: solid 1px gray;
            border-radius: 3px;
            box-shadow: 2px 2px 2px silver;
        }


        #btnSubmitComment{
            background-color:#6d9d5c;
            color:#d9d9c8;
        }

        ul#pastcomments {
            list-style-type: none;
        }

        ul#pastcomments li:before {
            font-family: FontAwesome;
            content: "\f007";
            font-size: 24pt;
            color:#809acc;
            margin-left: -35px;
            padding-right: 10px;
            position: relative;
            top: 8px;
        }

        ul#pastcomments li {
            margin: 0 0 2em 0;
            padding: 10px;
        }

        ul#pastcomments li span {
            font-size: 80%;
            color: gray;
            font-style: italic;
        }

        form#newcomment textarea {
            height: 72px;
        }

        form#newcomment label {
            display: inline-block;
            margin: 1em 0 0 0;
        }

        form#newcomment textarea,
        form#newcomment input[type="text"] {
            margin-top: 0;
        }